
/* Style for our header texts
* --------------------------------------- */
h4, h2{
    color: #fff;
    margin:0;
}

h1, h2, h3, h4, h5, h6, a, p, span {
  font-family: aileron, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.intro p{
    color: #fff;
}

.btn{
  background-color: transparent !important;
  color: white;
  transition: 0.5s;
  font-size: larger;

}

.btn:hover {

  border-color: transparent !important;
  color: white !important;
  text-decoration: line-through;
  transition: 0.5s;

}

#spinner{
  width: 100vw;
  height: 100vh;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

#section0,
#section1,
#section2,
#section3,
#section4,
#section16,
#slide1,
#slide2{
    background-size: cover;
}

/* Defining each sectino background and styles
* --------------------------------------- */
#section0{
    background-image: url(../img/primera.png);
}
.comenzar {
    bottom: 0px;
  }

#section0 h1{
    position: relative;
}
#section1{
    background-image: url(../img/flor1-18.jpg);
}
#section2{
    background-image: url(../img/tres.png);
}
#section3{
    background-image: url(../img/cuatro.png);
}

#section4{
    background-image: url(../img/flor1-13.jpg);
}

#section5{
  background-image: url(../img/fondo.png);

}

#section6{
  background-image:url(../img/Capdos-uno.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 250px, cover;
  background-position: 10% 80%;
  
}

#section7{
  background-image:url(../img/Capdos-dos.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 250px, cover;
  background-position: 8%, bottom;
}

#section8{
  background-image:url(../img/Capdos-tres.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 500px, cover;
  background-position: 50%, bottom;
 
}

#section9{
  background-image:url(../img/Capdos-cuatro.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, cover;
  background-position: 10%, bottom;
  
}

#section10{
  background-image:url(../img/Capdos-cinco.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, cover;
  background-position: 10%, bottom;

}

#section11{
  background-image:url(../img/Capdos-seis.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 300px, cover;
  background-position: 90%, 90%;
  
}

#section12{
  background-image:url(../img/Capdos-siete.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, cover;
  background-position: 10%, bottom;
  
}

#section13{
  background-image:url(../img/Capdos-ocho.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, cover;
  background-position: 90%, 90%;
  

}

#section14{
  background-image:url(../img/Capdos-nueve.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 150px, cover;
  background-position: 10%, bottom;
}

#section15{
  background-image:url(../img/Capdos-diez.png), url(../img/fondo.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, cover;
  background-position: 95%, 90%;
  
}

#section152{
  background-image: url(../img/fondo.png) ;

}

#section16{
  background-image: url(../img/captres-uno.jpg);
}

#section17{
  background: url(../img/captres-dos.gif);
  background-size: cover;
}

#section18{
  background: url(../img/captres-tres.gif);
  background-size: cover;
}

#section19{
  background: url(../img/captres-cuatro.gif);
  background-size: cover;
}

#section20{
  background: url(../img/captres-cinco.gif);
  background-size: cover;
}

#section21{
  background: url(../img/capcuatro-uno.gif);
  background-size: cover;
}

#section22{
  background: url(../img/fondodos.jpg);
  background-size: cover;
}

#section23{
  background: url(../img/fondodos.jpg);
  background-size: cover;
}
#section24{
  background: url(../img/fondodos.jpg);
  background-size: cover;
}

#section25{
  background: url(../img/fondodos.jpg);
  background-size: cover;
}




/* Overwriting styles for control arrows for slides
* --------------------------------------- */
.controlArrow.prev {
    left: 50px;
}
.controlArrow.next{
    right: 50px;
}

p{
    color: white;

}

li{
    color: white;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

/* Fade in Fabian te adoro
* --------------------------------------- */
.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {
opacity:0;
}
50%{
  opacity:0;
}
100% {
opacity:1;
}
}

@-moz-keyframes fadeIn {
0% {
opacity:0;
}
50%{
  opacity:0;
}
100% {
opacity:1;
}
}

@-webkit-keyframes fadeIn {
0% {
opacity:0;
}
50%{
  opacity:0;
}
100% {
opacity:1;
}
}

@-o-keyframes fadeIn {
0% {
opacity:0;
}
50%{
  opacity:0;
}
100% {
opacity:1;
}
}

@-ms-keyframes fadeIn {
0% {
opacity:0;
}
50%{
  opacity:0;
}
100% {
opacity:1;
}
}


body{
background-color: black;
}

a{
text-decoration: none;
color: gray;
}



.active .primerparrafo {
animation: delay 3s; 
}

.active .segundoparrafo {
animation: delay 6s;
}

.active .tercerparrafo {
animation: delay 9s;
}

.active .cuartoparrafo {
animation: delay 12s;
}

.active .fp-tableCell .primerparrafo {
  animation: delay 3s; 
  }
  
  .active .fp-tableCell .segundoparrafo {
  animation: delay 6s;
  }
  
  .active .fp-tableCell .tercerparrafo {
  animation: delay 9s;
  }
  
  .active .fp-tableCell .cuartoparrafo {
  animation: delay 12s;
  }

@keyframes delay {
0%{opacity: 0%; transform: translateY(-50px); }
50%{
opacity: 0%
}
100%{ opacity: 100% ;

}
}




/* Style for our header texts
	* --------------------------------------- */
	h1{
    color: #fff;
    margin-top: 10px;
    font-size: 400%;
	}
	.intro p{
		color: #fff;
	}

  


  @media only screen and (max-width: 600px){
    p{
      font-size: 1.3em;	
    }
    h1{
      font-size: 2em;
      }
  }
  
  

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 50px;
		display: flex;
		width: 100%;
		background: transparent;
		z-index:9;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#header{
        top:0px;
        position: absolute;
    }
  
    #footer{
      bottom:40px;
      padding-right: 40px;
    }


  
  .redes {
    width: 25px;
    margin: 10px 0px 10px 10px;
    opacity: 0.8;

  }  

  .final{
    width: 80px;
    margin: 20px;
    opacity: 0.8;

  }

  a .redes:hover{
    opacity: 1;
    transition:  0.5s;
    margin-bottom: 30px;
    width: 80px;


  }

  a .final:hover{
    opacity: 1;
    transition:  0.5s;
    margin-bottom: 18px;

  }
  
  .mute{
    border-color: transparent;
  }

  .mute:hover{
    border-color: transparent;
  }

  .mute:active{
    border-color: transparent;
  }

    /* The sidepanel menu */
.sidepanel {
 /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 8; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  /* video
* --------------------------------------- */
.slide{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.caja{
  width: 100%;
  height: 100%;
  margin: auto
}

.contenido{
  margin: auto

}